<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel = "stylesheet" href = "/stylesheets/main.css">
        <link href='http://fonts.font.im/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    </head>
    <body>
        
    <nav class = "navbar navbar-default">
    <div class = "container-fluid">
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">YelpCamp</a>
        </div>
        
        
        <!--<div class = "navebar = header">-->
        <!--    <a class = "navbar-brand" href="/">YelpCamp</a>-->
        <!--</div>-->
        
        <div class="collapse navbar-collapse" id="navbar" >
            
             <!--Search-->
        	<form action="/campgrounds" method="GET" class="navbar-form navbar-left">
        		<div class="form-group">
        			<input type="text" name="search" placeholder="Campground search..." class="form-control">
        			<input type="submit" value="Search" class="btn btn-default">
        		</div>
        	</form>
       
            
     
            
            
            <ul class="nav navbar-nav navbar-right">
                
                <li><a href="/chatroom">Chat Room</a></li>
                
                <% if(!currentUser) { %>
                    <li><a href="/login">Login<i class="fas fa-user-plus"></i></a></li>
                    <li><a href="/register">Sign Up<i class="fas fa-user"></i></a></li>
                <% } else { %>
                    <!--notifications-->
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notifications <span class="badge"><%= notifications.length %></span></a>
                      <ul class="dropdown-menu">
                        <li>
                            <a href="/notifications">View past notifications</a>
                        </li>
                        <% notifications.forEach(function(notification) { %>                          
                            <li>
                                <a href="/notifications/<%= notification.id %>">
                                    <%= notification.username %> created a new campground
                                </a>
                            </li>
                        <% }); %>
                      </ul>
                    </li>
                
                    <li><a href = "#">Signed In As <%= currentUser.username %></a></li>
                    <li><a href="/logout">Logout</a></li>
                <% } %>
                
                
                
            </ul>
        </div>
        
    </div>
    
</nav>

<div class = "container">
    <% if(error && error.length > 0) { %>
        <div class = "alert alert-danger" role = "alert">
            <%= error %>
        </div>
    <% } %>
     <% if(success && success.length > 0) { %>
        <div class = "alert alert-success" role = "alert">
            <%= success %>
        </div>
    <% } %>
</div>



<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>       
